@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
*{
  font-family: 'Martian Mono', monospace;
}

.home{
 display: flex;
 position: relative;
}

.card_div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(255, 255, 255);
  gap: 1rem;
  padding: 1rem;
  @media(max-width:926px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width:644px){
    grid-template-columns: repeat(1, 1fr);
    padding: 0rem;
    margin: 0.2rem;
  }
}

.cart_div{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;

  @media(max-width:950px){
    display: block;
    text-align: center;
  }
  
}
.todays_special{
  text-align: center;
  padding-top: 2rem;
  color: green;
  font-size: 2rem;
  @media(max-width:600px){
    font-size: 1.4rem;
  }
}
.cart_card_div{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgb(255, 255, 255);
  gap: 1rem;
  padding: 1rem;
}
.card_div_special{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(255, 255, 255);
  gap: 1rem;
  margin: 1rem;
  @media(max-width:1130px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width:667px){
    grid-template-columns: repeat(1, 1fr);
  }
}
.checkout_div{
  display: block;
  
  height: 100%;
  padding-top: 3rem;
}
.home_img{
  width: 100%;
}
.explore{
  position: absolute;
  display: block;
  align-items: center;
  top:50%;
  left:50%;
  transform: translate(-50%,50%);
}

.explore_button{
  display: flex;
  background-color: green;
  color: white;
  justify-content: center;
  border: none;
  padding: 0.3rem 3rem;
  text-decoration: none;

}
.explore_button:hover{
  border: none;
  background-color: rgb(255, 255, 255);
  color:green;

  @media(max-width:600px){
    background-color: rgb(255, 255, 255);
    color: green;
   }
}

.menu_banner{
  display: flex;
  width: 100%;
  justify-content: center;
}

.button{
  border: none;
  background-color: green;
  color: white;
  padding: 1rem;
}

.button:hover{
  color: green;
  background-color: rgb(255, 255, 255);
  border: 2px solid green;
}

.tagline{
  font-size: 2.4rem;
  color: white;
  @media(max-width:1433px){
    font-size: 2rem;
  }
  @media(max-width:1176px){
    font-size: 1.5rem;
  }
  @media(max-width:912px){
    font-size: 1rem;
  }
  @media(max-width:700px){
    background-color: green;
    font-size: 1.5rem;
    text-align: center;
  }
}
.home_img{
  width: 100%;
 
  @media(max-width:900px){
    height: 32rem;
  }
  @media(max-width:600px){
    display:none;
  }
}
.home_img2{
   display: none;
  @media(max-width:600px){
    display: flex;
    width: 100%;
    height: 32rem;
    font-size: 1rem;
  }
}
.explore{
  position: absolute;
  display: block;
  align-items: center;
  top:50%;
  left:50%;
  transform: translate(-50%,50%);
  @media(max-width:700px){
    top:30%;
    left:50%;
    transform: translate(-50%,50%);
  }
}
.explore_button{
  display: flex;
  background-color: green;
  color: white;
  justify-content: center;
  border: none;
  padding: 0.3rem 3rem;
  text-decoration: none;
  @media(max-width:700px){
    padding: 0.3rem 2rem;
    color: green;
    background-color: white;;
  }
}

.special_img{
  height: 10rem;
  width: 8rem;
}
.spl_card{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: green;
  color: white;
}
.categoryfood{
  height: 1rem;
  width: 1rem;
}